In [1]:
import sys
import os
import pandas as pd
import warnings

warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=pd.errors.SettingWithCopyWarning)

pd.set_option('display.max_columns', None)

In [2]:
# Aller au dossier racine du projet
project_root = os.path.abspath("..")  # Remonte au dossier principal du projet
src_path = os.path.join(project_root, "src")

# Ajouter le chemin src/ au path Python (√©vite les doublons)
if src_path not in sys.path:
    sys.path.append(src_path)

In [ ]:
import torch
print("CUDA disponible :", torch.cuda.is_available())
print("Version CUDA :", torch.version.cuda)
print("Nom du GPU :", torch.cuda.get_device_name(0) if torch.cuda.is_available() else "Pas de GPU d√©tect√©")

In [4]:
from ml_models.transformer_pipeline import run_transformer_model

model, df_stats = run_transformer_model('transformer')

c:\Users\Utilisateur\Desktop\Projets python\horse_racing\.env\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

<class 'pandas.core.frame.DataFrame'>
Index: 63557 entries, 0 to 63556
Data columns (total 34 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   race_id                    63557 non-null  int64
 1   venue                      63557 non-null  category
 2   config                     63557 non-null  category
 3   surface                    63557 non-null  category
 4   distance                   63557 non-null  category
 5   going                      63557 non-null  category
 6   horse_ratings              63557 non-null  category
 7   race_class                 63557 non-null  category
 8   horse_id                   63557 non-null  int64
 9   horse_age                  63557 non-null  int64
 10  horse_country              63557 non-null  category
 11  horse_type                 63557 non-null  category
 12  horse_rating               63557 non-null  category
 13  horse_gear                 63557 non-null  category
 14  declared_weight            63557 non-null  float64
 15  actual_weight              63557 non-null  int64
 16  draw                       63557 non-null  int64
 17  win_odds                   63557 non-null  float64
 18  place_odds                 63557 non-null  float64
 19  trainer_id                 63557 non-null  category
 20  jockey_id                  63557 non-null  category
 21  total_horses               63557 non-null  int64
 22  mean_result_last_5         63557 non-null  float64
 23  win_rate_last_5            63557 non-null  float64
 24  avg_lengths_behind_last_3  63557 non-null  float64
 25  rank_change_last_3         63557 non-null  float64
 26  days_since_last_race       63557 non-null  float64
 27  global_weight              63557 non-null  float64
 28  specialized_trainer        63557 non-null  category
 29  race_avg_win_odds          63557 non-null  float64
 30  race_std_win_odds          63557 non-null  float64
 31  relative_odds              63557 non-null  float64
 32  race_avg_weight            63557 non-null  float64
 33  relative_weight            63557 non-null  float64
dtypes: category(14), float64(14), int64(6)
memory usage: 12.0 MB
None
üîÑ Mod√®le entra√Æn√© sur : cuda

c:\Users\Utilisateur\Desktop\Projets python\horse_racing\.env\Lib\site-packages\torch\nn\modules\transformer.py:385: UserWarning: enable_nested_tensor is True, but self.use_nested_tensor is False because encoder_layer.self_attn.batch_first was not True(use batch_first for better inference performance)
  warnings.warn(

Epoch 1, Loss: 1.8358
Epoch 2, Loss: 1.8362
Epoch 3, Loss: 1.8359
Epoch 4, Loss: 1.8359
Epoch 5, Loss: 1.8359
Epoch 6, Loss: 1.8361
Epoch 7, Loss: 1.8359
Epoch 8, Loss: 1.8358
Epoch 9, Loss: 1.8358
Epoch 10, Loss: 1.8355
‚úÖ Mod√®le Transformer entra√Æn√© et sauvegard√©.
üîÑ Mod√®le entra√Æn√© sur : cuda
‚úÖ Pr√©cision du mod√®le Transformer : 0.58%

In [5]:
df_stats.head(50)

       horse_id  won  y_predict  top_prediction  accuracy
63557      1343    1   0.499999               0     False
63558      2216    0   0.500001               1     False
63559      2832    0   0.071429               0     False
63560      1236    0   0.071429               0     False
63561      1278    0   0.071429               0     False
63562      1121    0   0.071428               0     False
63563      1469    0   0.071429               0     False
63564       549    0   0.071428               0     False
63565       993    0   0.071429               0     False
63566      3522    0   0.071428               0     False
63567       883    0   0.071429               0     False
63568       932    1   0.071429               0     False
63569      3062    0   0.071428               0     False
63570       600    0   0.071428               0     False
63571      1857    0   0.071429               1     False
63572      1297    0   0.071428               0     False
63573      3864    0   0.083334               0     False
63574      2081    0   0.083333               0     False
63575      3140    0   0.083334               0     False
63576      1525    1   0.083333               0     False
63577      2869    0   0.083333               0     False
63578      1052    0   0.083333               0     False
63579      1467    0   0.083334               1     False
63580      2399    0   0.083334               0     False
63581      1756    0   0.083333               0     False
63582      1883    0   0.083334               0     False
63583      1028    0   0.083333               0     False
63584      2220    0   0.083333               0     False
63585      1580    0   0.249999               0     False
63586       743    0   0.250000               0     False
63587      3269    0   0.250001               1     False
63588      3504    0   0.250000               0     False
63589       168    0   0.125000               0     False
63590      2636    0   0.125000               0     False
63591      1655    0   0.125000               0     False
63592       998    0   0.125000               0     False
63593      3217    0   0.125000               0     False
63594       650    0   0.125000               0     False
63595      3644    0   0.125000               0     False
63596      4192    1   0.125000               0     False
63597      2581    0   0.083333               0     False
63598      2598    0   0.083333               0     False
63599      4114    0   0.083334               0     False
63600      2271    0   0.083333               0     False
63601      1603    0   0.083333               0     False
63602       124    0   0.083333               0     False
63603       625    1   0.083333               0     False
63604      1296    0   0.083333               0     False
63605      3208    0   0.083334               1     False
63606       729    0   0.083333               0     False

In [6]:
df_stats = df_stats.reset_index()
df_stats

       index  horse_id  won  y_predict  top_prediction  accuracy
0      63557      1343    1   0.499999               0     False
1      63558      2216    0   0.500001               1     False
2      63559      2832    0   0.071429               0     False
3      63560      1236    0   0.071429               0     False
4      63561      1278    0   0.071429               0     False
...      ...       ...  ...        ...             ...       ...
15885  79442      1238    0   0.071428               0     False
15886  79443       985    0   0.071429               0     False
15887  79444      3147    0   0.071428               0     False
15888  79445      1982    0   0.071428               0     False
15889  79446      3491    0   0.071429               0     False

[15890 rows x 6 columns]